<h1>My Applications</h1>
<ul>
  <% applications.forEach(application => { %>
    <li>
      <%= application.name %> applied for 
      <% if (application.jobId) { %>
        <%= application.jobId.title %>
      <% } else { %>
        [Job No Longer Available]
      <% } %>
    </li>
  <% }) %>
</ul>
